.navbar {
    margin: 2rem auto 0 auto;
    padding: 0 3rem;
    max-width: 140rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1100;
    position: relative;
    
    .logo {
        opacity: .7;
        transition: .5s opacity ease-in;
        cursor: pointer;
        padding: 1rem 0 0 0;

        &:hover {
            opacity: 1;
        }
    }

    .btnMenu {
        position: absolute;
        right: 0;
        background-color: transparent;
        color: var(--white);
        border: none;
        display: none;
        font-size: 4rem;
        cursor: pointer;
        padding: 1rem;
        
        &:active,
        &:link,
        &:focus {
            outline: none;
        }
    }

    .menu {

    .btnClose {
        display: none;
    }
    ul {
        display: flex;
        list-style: none;
        align-items: center;

        li {
            margin: 0 1.5rem;
            padding: 1rem 2rem;
            opacity: .7;
            transition: .3s opacity ease-in;

            &:last-child{
                margin-left: 7rem;
                border-radius: 10px;
                padding: 2rem 2rem;
                background-color: var(--pink);
                opacity: 1;
                cursor: pointer;
            }

            &:hover {
                opacity: 1;
            }

            a {
                text-transform: uppercase;
                font-size: 1.8rem;
            }
        }
    }
}
    
}

@media(max-width: 1024px) {
    .navbar {
        

        .btnMenu {
            display: inline-block;
            position: absolute;
            right: 0;
            margin-right: 2rem;
        }
    .menu {
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--black);
        width: 30rem;
        height: 100vh;
        z-index: 1300;
       transition: .8s all;
       transform: translateX(1000px);
        
       .btnClose {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        background-color: transparent;
        color: var(--white);
        border: none;
        font-size: 2rem;
        opacity: .7;
        cursor: pointer;
        padding: 3rem;
        
        &:active,
        &:link,
        &:focus {
            outline: none;
        }
       }
        ul {
            margin-top: 7rem;
           padding: 0;
           height: 50%;
            display: flex;
            flex-direction: column;
            list-style: none;
            align-items: center;
            justify-content: space-around;
    
            li {
                margin: 0 1.5rem;
                padding: 1rem 2rem;
                opacity: .7;
                transition: .3s opacity ease-in;
                
    
                &:last-child{
                    margin: 3rem 0 0 0;
                    width: 45%;
                    border-radius: 10px;
                    padding: 1rem 2rem;
                    background-color: var(--pink);
                    opacity: 1;
                    cursor: pointer;
                    text-align: center;
                }
            }
        }
    }
        
    }
}