.signup {
    position: fixed;
    z-index: 1500;

    .background {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.486);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-form {
        position: relative;
        width: 90vw;
        max-width: 35rem;
        height: 50rem;
        background-color: rgba(255, 255, 255, 0.945);
        border-radius: 5px;
        box-shadow: 0 0 50px rgb(0, 0, 0);
        
        h2 {
            text-align: center;
            padding: 3rem 3rem 2rem;
            font-size: 2.9rem;
        }

        h3 {
            text-align: center;
            padding: 0 3rem 3rem;
            font-size: 1.4rem; 
            font-weight: 500;
        }

        .btnCloseForm {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background-color: transparent;
            border: none;
            font-weight: 600;
            font-size: 1.8rem;
            
            color:  rgba(128, 128, 128, 0.76);
            padding: .5rem 1rem;
            cursor: pointer;
        }

        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;

            input, select {
                margin: 1rem;
                padding: 1rem;
                border-radius: 5px;
                border: none;
                background-color: rgb(231, 231, 231);
            }

            .submit {
                margin-top: 6rem;
                width: 120px;
                cursor: pointer;
            }

            .select {
              padding: .7rem 1rem;
              font-size: 1.2rem;
            }

        }
    }
}

