h2.heading {
    text-align: center;
    font-size: 4rem;
    color: var(--black);
     padding: 0 1rem;
}

h3.sub-heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    color: var(--black);
    padding: 0 2rem;
}